nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #47624F;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.4rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.socials {
    opacity: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 0.2rem;
    font-size: 0.8;
    font-weight: bold;
}

.burguer {
    display: none;
}

.burguer div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #47624F;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-top: 15%;
    }

    .socials {
        opacity: 1;
    }
    
    .nav-links li {
        opacity: 0;
        margin: 12%;
    }

    .burguer {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {

    transform: rotate(45deg) translate(-5px, -6px);
}